.menu{
    background-color:#E67E22 ;
    float: left;
    height: 40px;
    width: 100%;
    position: fixed;
}
.lateral{
    background-color:#E67E22 ;
    float: left;
    height: 700px;
    width: 10%;
    margin-top: 50px;
    position: fixed;
    
}
.cuerpo{
    text-align: center;
    
    float: left;
    height: 100%;
    width: 80%;
    margin:10px;
    margin-left:200px;
    margin-top:60px;
    
}
.cuadro{
    background-color:#F7DC6F;
    float: left;
    height: 100%;
    width: 31%;
    margin: 10px;
    display:flex;
    flex-direction:column;
}
.descripcion{
    text-align: center;
    background-color:#FFD700;
    margin-left: auto;
    height: 75%;
    width: 50%;
    
    margin-right: auto;
}
img{    
    height: 100px;
    width: 100px;
    margin:0 auto;
}
body{
    background-color:#F4D03F;
}
.enviar{
    background-color:#FF7F50; 
}
#cantidad{
    width: 40px;
    background-color:#ABEBC6;
}